body {
    font-family: 'Poppins', sans-serif;
  }
  
  .hero {
    background: linear-gradient(135deg, #0d6efd 0%, #004aad 100%);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  .navbar-brand strong {
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .hero {
    background: linear-gradient(rgba(129, 167, 224, 0.7), rgba(0,74,173,0.7)),
                url('../img/home-lab.jpg.jpg') center/cover no-repeat;
    color: white;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* Garis bawah untuk link aktif */
.navbar-nav .nav-link {
    position: relative;
    color: black; /* teks hitam */
    transition: all 0.3s;
  }
  
  .navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -5px; /* jarak garis dari teks */
    left: 0;
    width: 100%;
    height: 3px; /* tebal garis */
    background-color: #090909; /* warna garis biru */
    border-radius: 2px;
  }
  
  /* Opsional: garis saat hover */
  .navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #090909;
    border-radius: 2px;
  }

  

  






  